body {
	margin: 0;
	padding: 0;
}

#popup {
	width: 300px;
}

#popup .job {
	position: relative;
	width: 100%;
	height: 25px;
	vertical-align: middle;
	clear: both;
	background-color: #EEE;
}

#popup .job:HOVER {
	background-color: #DDD;
}

a, a:HOVER, a:ACTIVE, a:VISITED {
	text-decoration: none;
	color: black;
}


#popup div {
	display: block;
}
#popup .job div {
	float: left;
	padding: 5px;
}

#popup .state {
	width: 16px;
	height: 16px;
	display: block;
}

#popup .state img {
	width: 16px;
	height: 16px;
}


#popup .name {
	position: relative;
	right: 0px;
	width: 200px;
}

#jenkins-url {
	font-size: medium;
	width: 100%;
	padding: 5px;
	background-color: #58ACFA;
	margin-bottom: 1px;
	color: white;
}

#jenkins-url > * {
	color: white;
}